<template>
    <div>
        <Dialog
            v-model:visible="display"
            :closable="closable"
            :style="{ width: '30vw' }"
            modal="true"
        >
            <!--Formulacion Crear cliente-->
            <form @submit.prevent="crearCliente" class="px-6" v-if="accionEditar == false">
                <div class="mb-4">
                    <jet-label
                        for="cliente"
                        value="Nombre Cliente *"
                        class="block text-gray-700 text-sm font-bold mb-2"
                    />
                    <jet-input
                        id="cliente"
                        type="text"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        v-model="cliente.nombre"
                        required
                    />
                </div>
                <div class="mb-4">
                    <jet-label
                        for="nit"
                        value="Nit/Documento *"
                        class="block text-gray-700 text-sm font-bold mb-2"
                    />
                    <jet-input
                        id="nit"
                        type="text"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        v-model="cliente.nit"
                        required
                    />
                </div>
                <div class="mb-4">
                    <jet-label
                        for="direccion"
                        value="Direccion"
                        class="block text-gray-700 text-sm font-bold mb-2"
                    />
                    <jet-input
                        id="direccion"
                        type="text"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        v-model="cliente.direccion"
                    />
                </div>
                <div class="mb-4">
                    <jet-label
                        for="email"
                        value="Email"
                        class="block text-gray-700 text-sm font-bold mb-2"
                    />
                    <jet-input
                        id="email"
                        type="text"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        v-model="cliente.email"
                    />
                </div>             
            </form>
            <!--Formulacion Editar Cliente-->
            <form @submit.prevent="editarCliente" class="px-6" v-else>              
                <div class="mb-4">
                    <jet-label
                        for="cliente"
                        value="Nombre Cliente *"
                        class="block text-gray-700 text-sm font-bold mb-2"
                    />
                    <jet-input
                        id="cliente"
                        type="text"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        v-model="clienteEdi.nombre"
                        required
                    />
                </div>
                <div class="mb-4">
                    <jet-label
                        for="nit"
                        value="Nit/Documento *"
                        class="block text-gray-700 text-sm font-bold mb-2"
                    />
                    <jet-input
                        id="nit"
                        type="text"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        v-model="clienteEdi.nit"
                        required
                    />
                </div>
                <div class="mb-4">
                    <jet-label
                        for="direccion"
                        value="Direccion"
                        class="block text-gray-700 text-sm font-bold mb-2"
                    />
                    <jet-input
                        id="direccion"
                        type="text"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        v-model="clienteEdi.direccion"
                    />
                </div>
                <div class="mb-4">
                    <jet-label
                        for="email"
                        value="Email"
                        class="block text-gray-700 text-sm font-bold mb-2"
                    />
                    <jet-input
                        id="email"
                        type="text"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        v-model="clienteEdi.email"
                    />
                </div>
            </form>
            <template #header>
                <p
                    class="text-blue-400 font-bold text-2xl"
                    v-if="accionEditar == false"
                >
                    Formulario Crear Clientes
                </p>
                <p class="text-blue-400 font-bold text-2xl" v-else>
                    Formulario Editar Clientes
                </p>
            </template>
            <template #footer>
                <Button
                    label="Crear"
                    class="p-button-raised p-button-rounded"
                    @click="crearCliente"
                    v-if="accionEditar == false"
                ></Button>
                <Button
                    label="Editar"
                    class="p-button-raised p-button-rounded"
                    @click="editarCliente"
                    v-else
                ></Button>
                <Button
                    label="Cerrar"
                    class="p-button-raised p-button-rounded p-button-danger"
                    @click="accionModal"
                ></Button>
            </template>
        </Dialog>
    </div>
</template>
<script>
import Dialog from "primevue/dialog";
import Button from "primevue/button";
import Dropdown from "primevue/dropdown";
import JetAuthenticationCard from "@/Jetstream/AuthenticationCard";
import JetAuthenticationCardLogo from "@/Jetstream/AuthenticationCardLogo";
import JetButton from "@/Jetstream/Button";
import JetInput from "@/Jetstream/Input";
import JetCheckbox from "@/Jetstream/Checkbox";
import JetLabel from "@/Jetstream/Label";
import JetValidationErrors from "@/Jetstream/ValidationErrors";

export default {
    data() {
        return {
            closable: false,
            cliente: {   
                nombre: '',             
                nit: '',                  
                direccion: '',              
                email: ''
            }
        };
    },
    props: {
        display: false,
        accionEditar: false,
        clientes: [],
        clienteEdi: {
            id: 0,
            nombre: '',             
            nit: '',               
            direccion: '',
            email: ''
        }
    },
    components: {
        Dialog,
        Button,
        Dropdown,
        JetAuthenticationCard,
        JetAuthenticationCardLogo,
        JetButton,
        JetInput,
        JetCheckbox,
        JetLabel,
        JetValidationErrors,
    },
    mounted() {     
        let token = `Bearer ${localStorage.Authorization}`;
        token = token.replace(/['"]+/g, '');
        axios.defaults.headers.common['Authorization'] = token;            
    },
    methods: {
        //Accion para consultar las categorias
        getCategorias() {
            if(this.clientes.entidad != ""){
                this.disableCategorias = false;
            }
            this.cliente.categoria = '';
            this.$emit("getCategorias", this.cliente.entidad);
        },
        //Accion para abrir o cerrar modal formularios clientes
        accionModal() {
            this.$emit("accionModal");
        },
        //Accion para registrar los clientes en el sistema
        crearCliente() {          
            const params = {
               nombre: this.cliente.nombre,
               nit: this.cliente.nit,              
               direccion: this.cliente.direccion,
               email: this.cliente.email,
            };
            axios
                .post("crearCliente", params)
                .then((res) => {
                    this.$swal({
                        icon: "success",
                        title: res.data.message,
                    });                
                    this.clientes.push(res.data.data);   
                    this.cliente.nombre = '';
                    this.cliente.nit = '';                    
                    this.cliente.direccion = '';                   
                    this.cliente.email = '';
                })
                .catch((error) => {
                    this.$swal({
                        icon: "error",
                        title: "Error",
                        text: error.response.data.message,
                    });
                });
        },
        //Accion para editar los clientes en el sistema
        editarCliente() {
            const params = {
                id: this.clienteEdi.id,
                nombre: this.clienteEdi.nombre,
                nit: this.clienteEdi.nit,                
                direccion: this.clienteEdi.direccion,               
                email: this.clienteEdi.email,                
            };
            axios
                .post("editarCliente", params)
                .then((res) => {                                                  
                    const index = this.clientes.findIndex(
                        clienteBuscar => clienteBuscar.id == res.data.data.id
                    );
                    this.clientes[index] = res.data.data   
                    this.$swal({
                        icon: "success",
                        title: res.data.message,
                    });              
                })
                .catch((error) => {                    
                    this.$swal({
                        icon: "error",
                        title: "Error",
                        text: error.response.data.message,
                    });
                });
        },
    },
};
</script>
