<template>
    <app-layout>
        <template #header>
            <Button label="Nuevo Cliente" icon="pi pi-plus" iconPos="right" class="p-button-raised p-button-rounded" v-model="displayModalClientes" @click="displayModalClientes=true"></Button>
        </template>
        <VerClientes :cliente="cliente" :displayVerModalClientes="displayVerModalClientes"/>
        <FormularioClientes :display="displayModalClientes" @accionModal="accionModal" :clientes="clientes"  :clienteEdi="cliente" :accionEditar="accionEditar" :entidades="entidades" :categorias="categorias" @getCategorias="getCategorias"/>
        <div class="text-center p-2 m-2 font-serif text-lg font-bold text-gray-400 bg-gray-50">
            <h1>CLientes</h1>
        </div>
        <div>
            <DataTable :value="clientes" :paginator="true" class="p-datatable-customers" :rows="10"
                dataKey="id" :rowHover="true" v-model:selection="selectedCustomers" v-model:filters="filters" filterDisplay="menu" :loading="loading"
                paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown" :rowsPerPageOptions="[10,25,50]"
                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} Registros"
                :globalFilterFields="['nombre','documento','correo','direccion']" responsiveLayout="scroll" >
                <!--Buscador-->
                <template #header>
                    <div class="p-d-flex p-jc-between p-ai-center" align="right">                        
                        <span class="p-input-icon-left">
                            <i class="pi pi-search" />
                            <InputText v-model="filters['global'].value" placeholder="Buscar" />
                        </span>
                    </div>
                </template>
                <!----------->
                <template #empty>
                   No se encontraron resultados.
                </template>
                <template #loading>
                    Cargando informacion. Espere por favor.
                </template>
                <Column field="nombre" header="Nombre" sortable style="min-width: 12rem">
                    <template #body="{data}">
                       {{data.nombre}}
                    </template>                    
                </Column>
                <Column field="documento" header="Nit/Documento" sortable style="min-width: 12rem">
                    <template #body="{data}">
                       {{data.documento}}
                    </template>                   
                </Column>
                <Column field="correo" header="Email" sortable style="min-width: 12rem">
                    <template #body="{data}">
                       {{data.correo}}
                    </template>                   
                </Column>
                <Column field="direccion" header="Direccion" sortable style="min-width: 12rem">
                    <template #body="{data}">
                       {{data.direccion}}
                    </template>                   
                </Column>
                <Column  header="Acciones" headerStyle="min-width: 12rem; text-align: center" bodyStyle="text-align: center; overflow: visible">
                    <template #body="{data}">
                        <Button type="button" icon="pi pi-eye" class="p-button-rounded p-button-icon-only p-button-text p-button-lg" @click="verCliente(data)" title="Ver"></Button>
                        <Button type="button" icon="pi pi-user-edit" class="p-button-rounded p-button-icon-only p-button-text p-button-lg" @click="editarCliente(data)" title="Editar"></Button>
                        <Button type="button" icon="pi pi-trash text-red-500" class="p-button-rounded p-button-icon-only p-button-text p-button-lg" @click="eliminarCliente(data)" title="Eliminar"></Button>
                    </template>
                </Column>
            </DataTable>
        </div>
    </app-layout>
</template>

<script>
import {FilterMatchMode,FilterOperator} from 'primevue/api';
import AppLayout from "@/Layouts/AppLayout";
import DataTable from "primevue/datatable";
import Column from "primevue/column";
import ColumnGroup from "primevue/columngroup"; 
import InputText from "primevue/InputText"; 
import Button from 'primevue/button';
import FormularioClientes from '@/Pages/Administracion/Clientes/FormularioClientesComponent'
import VerClientes from "@/Pages/Administracion/Clientes/VerClientesComponent";

export default {
    data() {
        return {
            customers: null,           
            selectedCustomers: null,
            filters: {
                'global': {value: null, matchMode: FilterMatchMode.CONTAINS},                                
            },           
            clientes: {},      
            cliente: [],    
            entidades: [],
            categorias: [],
            loading: true, 
            displayModalClientes: false,            
            accionEditar: false
        }
    },
    components:{
        AppLayout, DataTable, Column, ColumnGroup, InputText, Button, FormularioClientes, VerClientes
    },
    mounted() {
        let token = `Bearer ${localStorage.Authorization}`;
        token = token.replace(/['"]+/g, '');
        axios.defaults.headers.common['Authorization'] = token;
        this.getClientes();
    },
    methods: {            
        //Peticion para obtener los clientes registrados
        getClientes() {
            this.loading = true;      
            axios
                .post("getClientes")
                .then(res => {
                    this.clientes = res.data;
                    this.loading = false; 
                })
                .catch(error => {
                    console.log(error);
                    this.$swal({
                        icon: "error",
                        title: "Error",
                        text: error.response.data.message,
                    });
                    this.loading = false;
                });
        },
        //Abre formulario editar clientes y asigna los valores a editar
        editarCliente(item) {            
            this.displayModalClientes = true;
            this.accionEditar = true;
            const param = {
                id: item.id,
                nombre: item.nombre,             
                nit: item.documento,                  
                direccion: item.direccion,               
                email: item.correo
            };
            this.cliente = param;
        },
        //Accion para eliminar los clientes
        eliminarCliente(item) {            
            this.$swal({
                title: "Estas seguro?",
                text: "¡No podrás revertir esto!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                cancelButtonText: "No, Cancelar",
                confirmButtonText: "Si, Borrar"
            }).then(result => {
                if (result.isConfirmed) {
                    const params = {
                        id: item.id
                    }
                    axios
                        .post(`eliminarCliente`, params)
                        .then(res => {
                            const index = this.clientes.findIndex(
                                clienteBuscar =>
                                    clienteBuscar.id == res.data.data.id
                            );
                            this.clientes.splice(index, 1);
                            this.$swal(
                                "Eliminado",
                                "Se elimino el registro.",
                                "success"
                            );
                        })
                        .catch(error => {
                            this.$swal({
                                icon: "error",
                                title: error.response.data.message,
                                text: error.response.data.errors
                            });
                        });
                }
            });
        },
        //Ver info de los clientes
        verCliente(item){
            this.displayVerModalClientes = true;
            const param = {
                id: item.id,
                nombre: item.nombre,             
                documento: item.documento,               
                direccion: item.direccion,               
                email: item.correo              
            };
            this.cliente = param;
        },
        //Accion para cerrar la modal formularios clientes
        accionModal(){
            this.displayModalClientes = false;
            this.accionEditar = false;
        }   
    }
}
</script>
