<template>
  <div>
    <Dialog
            v-model:visible="displayVerModalClientes"
            :closable="closable"
            :style="{ width: '30vw' }"
            modal="true"
        >           
            <div class="p-1 m-1 font-serif text-lg text-gray-600 flex items-stretch">
                <div class="w-2/4 font-bold">id:</div>              
                <div class="w-2/4 ">{{cliente.id}}</div>                 
            </div>
            <div class="p-1 m-1 font-serif text-lg text-gray-600 flex items-stretch">
                <div class="w-2/4 font-bold">Nombre:</div>              
                <div class="w-2/4 ">{{cliente.nombre}}</div>                 
            </div>
            <div class="p-1 m-1 font-serif text-lg text-gray-600 flex items-stretch">
                <div class="w-2/4 font-bold">Nit/Documento:</div>              
                <div class="w-2/4 ">{{cliente.documento}}</div>                 
            </div>
            <div class="p-1 m-1 font-serif text-lg text-gray-600 flex items-stretch">
                <div class="w-2/4 font-bold">Direccion:</div>              
                <div class="w-2/4 ">{{cliente.direccion}}</div>                 
            </div>
            <div class="p-1 m-1 font-serif text-lg text-gray-600 flex items-stretch">
                <div class="w-2/4 font-bold">Email Contacto:</div>              
                <div class="w-2/4 ">{{cliente.email}}</div>                 
            </div>     
            <template #header>                
                <p class="text-blue-400 font-bold text-2xl">
                    Ver cliente
                </p>
            </template>
            <template #footer>               
                <Button
                    label="Cerrar"
                    class="p-button-raised p-button-rounded p-button-danger"
                    @click="displayVerModalClientes = false"
                ></Button>
            </template>
        </Dialog>
  </div>
</template>
<script>
import Dialog from "primevue/dialog";
import Button from "primevue/button";
export default {
    data() {
        return {
            closable: false,
        }
    },
    props: {
        cliente: [],
        displayVerModalClientes: false
    },
    components:{
       Dialog, Button
    }
}
</script>