<template>
    <div>
        <Dialog
            v-model:visible="display"
            :closable="closable"
            :style="{ width: '30vw' }"
            modal="true"
        >
            <!--Formulacion Crear usuarios-->
            <form @submit.prevent="crearUsuario" class="px-6" v-if="accionEditar == false">
                <div class="mb-4">
                    <jet-label
                        for="name"
                        value="Usuario"
                        class="block text-gray-700 text-sm font-bold mb-2"
                    />
                    <jet-input
                        id="name"
                        type="text"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        v-model="usuario.name"
                        required
                        autofocus
                        autocomplete="name"
                    />
                </div>

                <div class="mt-4">
                    <jet-label
                        for="email"
                        value="Email"
                        class="block text-gray-700 text-sm font-bold mb-2"
                    />
                    <jet-input
                        id="email"
                        type="email"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        v-model="usuario.email"
                        required
                    />
                </div>

                <div class="mt-4">
                    <jet-label
                        for="password"
                        value="Password"
                        class="block text-gray-700 text-sm font-bold mb-2"
                    />
                    <jet-input
                        id="password"
                        type="password"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        v-model="usuario.password"
                        required
                        autocomplete="new-password"
                    />
                </div>

                <div class="mt-4">
                    <jet-label
                        for="password_confirmation"
                        value="Confirmar Password"
                        class="block text-gray-700 text-sm font-bold mb-2"
                    />
                    <jet-input
                        id="password_confirmation"
                        type="password"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        v-model="usuario.password_confirmation"
                        required
                        autocomplete="new-password"
                    />
                </div>
                <div class="mt-4">
                    <jet-label
                        for="role"
                        value="Role"
                        class="block text-gray-700 text-sm font-bold mb-2"
                    />
                    <Dropdown
                        v-model="usuario.role"
                        :options="roles"
                        optionLabel="name"
                        optionValue="id"
                        placeholder="Seleccione el Rol"
                        class="shadow appearance-none border rounded w-full px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    />
                </div>
            </form>
            <!--Formulacion Editar usuarios-->
            <form @submit.prevent="editarUsuario" class="px-6" v-else>
                <div class="mb-4">
                    <jet-label
                        for="name"
                        value="Usuario"
                        class="block text-gray-700 text-sm font-bold mb-2"
                    />
                    <jet-input
                        id="name"
                        type="text"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        v-model="usuarioEdi.name"
                        required
                        autofocus
                        autocomplete="name"
                    />
                </div>

                <div class="mt-4">
                    <jet-label
                        for="email"
                        value="Email"
                        class="block text-gray-700 text-sm font-bold mb-2"
                    />
                    <jet-input
                        id="email"
                        type="email"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        v-model="usuarioEdi.email"
                        required
                    />
                </div>
               
                <div class="mt-4">
                    <jet-label
                        for="role"
                        value="Role"
                        class="block text-gray-700 text-sm font-bold mb-2"
                    />
                    <Dropdown
                        v-model="usuarioEdi.role"
                        :options="roles"
                        optionLabel="name"
                        optionValue="id"
                        placeholder="Seleccione el Rol"
                        class="shadow appearance-none border rounded w-full px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    />
                </div>
                <div class="mt-4">
                    <jet-label
                        for="estado"
                        value="Estado"
                        class="block text-gray-700 text-sm font-bold mb-2"
                    />
                    <Dropdown
                        v-model="usuarioEdi.estado"
                        :options="estado"
                        modelValue="2"
                        optionLabel="name"
                        optionValue="id"
                        placeholder="Seleccione el Estado"
                        class="shadow appearance-none border rounded w-full px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    />
                </div>
            </form>
            <template #header>
                <p
                    class="text-blue-400 font-bold text-2xl"
                    v-if="accionEditar == false"
                >
                    Formulario Creacion Usuarios
                </p>
                <p class="text-blue-400 font-bold text-2xl" v-else>
                    Formulario Editar Usuarios
                </p>
            </template>
            <template #footer>
                <Button
                    label="Crear"
                    class="p-button-raised p-button-rounded"
                    @click="crearUsuario"
                    v-if="accionEditar == false"
                ></Button>
                <Button
                    label="Editar"
                    class="p-button-raised p-button-rounded"
                    @click="editarUsuario"
                    v-else
                ></Button>
                <Button
                    label="Cerrar"
                    class="p-button-raised p-button-rounded p-button-danger"
                    @click="accionModal"
                ></Button>
            </template>
        </Dialog>
    </div>
</template>
<script>
import Dialog from "primevue/dialog";
import Button from "primevue/button";
import Dropdown from "primevue/dropdown";
import JetAuthenticationCard from "@/Jetstream/AuthenticationCard";
import JetAuthenticationCardLogo from "@/Jetstream/AuthenticationCardLogo";
import JetButton from "@/Jetstream/Button";
import JetInput from "@/Jetstream/Input";
import JetCheckbox from "@/Jetstream/Checkbox";
import JetLabel from "@/Jetstream/Label";
import JetValidationErrors from "@/Jetstream/ValidationErrors";

export default {
    data() {
        return {
            closable: false,
            usuario: {
                name: "",
                email: "",
                password: "",
                password_confirmation: "",
                terms: false,
                role: 0,
            },
            roles: [],            
            estado: [{"id":"1", "name":"Activo"}, {"id":"2", "name":"Inactivo"}]
        };
    },
    props: {
        display: false,
        accionEditar: false,
        usuarios: [],
        usuarioEdi: {
            email: "",
            estado: "",
            id: 0,
            name: "",
            role: ""
        }
    },
    components: {
        Dialog,
        Button,
        Dropdown,
        JetAuthenticationCard,
        JetAuthenticationCardLogo,
        JetButton,
        JetInput,
        JetCheckbox,
        JetLabel,
        JetValidationErrors,
    },
    mounted() {     
        let token = `Bearer ${localStorage.Authorization}`;
        token = token.replace(/['"]+/g, '');
        axios.defaults.headers.common['Authorization'] = token;            
        this.getSelectRoles();
    },
    methods: {
        //Accion para abrir o cerrar modal formularios usuarios
        accionModal() {
            this.$emit("accionModal");
        },
        //Accion para consultar los roles del sistema y agregarlos al select roles formulario usuarios
        getSelectRoles() {
            axios
                .post("getSelectRoles")
                .then((res) => {
                    this.roles = res.data;
                })
                .catch((error) => {
                    console.log(error);
                    this.$swal({
                        icon: "error",
                        title: "Error",
                        text: error.response.data.message,
                    });
                });
        },
        //Accion para registrar el usuario en el sistema
        crearUsuario() {
            const params = {
                name: this.usuario.name,
                email: this.usuario.email,
                password: this.usuario.password,
                password_confirmation: this.usuario.password_confirmation,
                role_id: this.usuario.role,
            };
            axios
                .post("crearUsuario", params)
                .then((res) => {
                    this.$swal({
                        icon: "success",
                        title: res.data.message,
                    });                
                    this.usuarios.push(res.data.data);   
                    this.usuario.name = "";
                    this.usuario.email = "";
                    this.usuario.password = "";
                    this.usuario.password_confirmation = "";
                    this.usuario.role = "";
                })
                .catch((error) => {
                    this.$swal({
                        icon: "error",
                        title: "Error",
                        text: error.response.data.message,
                    });
                });
        },
        //Accion para editar los usuario en el sistema
        editarUsuario() {
            const params = {
                id: this.usuarioEdi.id,
                name: this.usuarioEdi.name,
                email: this.usuarioEdi.email,               
                role_id: this.usuarioEdi.role,
                estado_id: this.usuarioEdi.estado
            };
            axios
                .post("editarUsuario", params)
                .then((res) => {                                                  
                    const index = this.usuarios.findIndex(
                        usuarioBuscar => usuarioBuscar.id == res.data.data.id
                    );
                    this.usuarios[index] = res.data.data   
                    this.$swal({
                        icon: "success",
                        title: res.data.message,
                    });              
                })
                .catch((error) => {                    
                    this.$swal({
                        icon: "error",
                        title: "Error",
                        text: error.response.data.message,
                    });
                });
        },
    },
};
</script>
