<template>
    <app-layout>
        <template #header>
            <Button label="Nuevo Usuario" icon="pi pi-plus" iconPos="right" class="p-button-raised p-button-rounded" v-model="displayModalUsuarios" @click="displayModalUsuarios=true"></Button>
        </template>
        <FormularioUsuarios :display="displayModalUsuarios" @accionModal="accionModal" :usuarios="usuarios"  :usuarioEdi="usuario" :accionEditar="accionEditar"/>
        <div class="text-center p-2 m-2 font-serif text-lg font-bold text-gray-400 bg-gray-50">
            <h1>USUARIOS</h1>
        </div>
        <div>
            <DataTable :value="usuarios" :paginator="true" class="p-datatable-customers" :rows="10"
                dataKey="id" :rowHover="true" v-model:selection="selectedCustomers" v-model:filters="filters" filterDisplay="menu" :loading="loading"
                paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown" :rowsPerPageOptions="[10,25,50]"
                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} Registros"
                :globalFilterFields="['usuario','email','perfil']" responsiveLayout="scroll" >
                <!--Buscador-->
                <template #header>
                    <div class="p-d-flex p-jc-between p-ai-center" align="right">                        
                        <span class="p-input-icon-left">
                            <i class="pi pi-search" />
                            <InputText v-model="filters['global'].value" placeholder="Buscar" />
                        </span>
                    </div>
                </template>
                <!----------->
                <template #empty>
                   No se encontraron resultados.
                </template>
                <template #loading>
                    Cargando informacion. Espere por favor.
                </template>
                <Column field="usuario" header="Usuario" sortable style="min-width: 14rem">
                    <template #body="{data}">
                        {{data.usuario}}
                    </template>                    
                </Column>
                <Column field="email" header="Correo" sortable style="min-width: 14rem">
                    <template #body="{data}">
                       {{data.email}}
                    </template>                   
                </Column>
                <Column field="perfil" header="Rol" sortable style="min-width: 14rem">
                    <template #body="{data}">
                       {{data.perfil}}
                    </template>                   
                </Column>
                <Column  header="Acciones" headerStyle="min-width: 14rem; text-align: center" bodyStyle="text-align: center; overflow: visible">
                    <template #body="{data}">
                        <Button type="button" icon="pi pi-user-edit" class="p-button-rounded p-button-icon-only p-button-text p-button-lg" @click="editarUsuario(data)" title="Editar"></Button>
                    </template>
                </Column>
            </DataTable>
        </div>
    </app-layout>
</template>

<script>
import {FilterMatchMode,FilterOperator} from 'primevue/api';
import AppLayout from "@/Layouts/AppLayout";
import DataTable from "primevue/datatable";
import Column from "primevue/column";
import ColumnGroup from "primevue/columngroup"; 
import InputText from "primevue/InputText"; 
import Button from 'primevue/button';
import FormularioUsuarios from '@/Pages/Administracion/Usuarios/FormularioUsuariosComponent'

export default {
    data() {
        return {
            customers: null,
            selectedCustomers: null,
            filters: {
                'global': {value: null, matchMode: FilterMatchMode.CONTAINS},                                
            },           
            usuarios: [],      
            usuario: [],      
            loading: true, 
            displayModalUsuarios: false,
            accionEditar: false  
        }
    },
    components:{
        AppLayout, DataTable, Column, ColumnGroup, InputText, Button, FormularioUsuarios
    },
    mounted() {
        let token = `Bearer ${localStorage.Authorization}`;
        token = token.replace(/['"]+/g, '');
        axios.defaults.headers.common['Authorization'] = token;
        this.getUsuarios();
    },
    methods: {            
        //Peticion para obtener loos usuarios registrados
        getUsuarios() {
            this.loading = true;      
            axios
                .post("getUsuarios")
                .then(res => {
                    this.usuarios = res.data;
                    this.loading = false; 
                })
                .catch(error => {
                    console.log(error);
                    this.$swal({
                        icon: "error",
                        title: "Error",
                        text: error.response.data.message,
                    });
                    this.loading = false;
                });
        },
        editarUsuario(item) {            
            this.displayModalUsuarios = true;
            this.accionEditar = true;
            const param = {
                id: item.id,
                name: item.usuario,
                email: item.email,
                role: parseInt(item.role_id),
                estado: item.estado_id
            };
            this.usuario = param;
        },
        //Accion para cerrar la modal formularios usuarios
        accionModal(){
            this.displayModalUsuarios = false;
            this.accionEditar = false;
        }   
    }
}
</script>
