<template>
    <app-layout>
        <template #header>
            <Button label="Roles" icon="pi pi-arrow-circle-left" iconPos="right" class="p-button-raised p-button-rounded" @click="routerRoles"></Button>
        </template>
        <div class="text-center p-2 m-2 font-serif text-lg font-bold text-gray-400 bg-gray-50">
            <h1>Asignacion de permisos para el rol {{role.role}}</h1>
        </div> 
        <div class="grid grid-cols-2 gap-6">
                <DataTable :value="permisosAsignados" :paginator="true" class="p-datatable-sm gap-2" :rows="10"
                dataKey="id" :rowHover="opc" v-model:selection="selectedCustomers" v-model:filters="filtersUsu" filterDisplay="menu" :loading="loading"
                paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown" :rowsPerPageOptions="[10,25,50]"
                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} Registros"
                :globalFilterFields="['permission']" responsiveLayout="scroll">
                    <!--Buscador-->
                    <template #header>
                        <div class="p-d-flex p-jc-between p-ai-center" align="right">                        
                            <span class="p-input-icon-left">
                                <i class="pi pi-search" />
                                <InputText v-model="filtersUsu['global'].value" placeholder="Buscar" />
                            </span>
                        </div>
                    </template>
                    <!----------->
                    <template #empty>
                    No se encontraron resultados.
                    </template>
                    <template #loading>
                        Cargando informacion. Espere por favor.
                    </template>
                     <Column  header="Acciones" headerStyle="text-align: center" bodyStyle="text-align: center; overflow: visible">
                        <template #body="{data}">                          
                            <Button type="button" icon="pi pi-trash text-red-500" class="p-button-rounded p-button-icon-only p-button-text p-button-lg" @click="removerPermiso(data)" title="Eliminar"></Button>
                        </template>                        
                    </Column>
                    <Column field="permission" header="Permisos" headerStyle="text-align: center" bodyStyle="text-align: center">
                        <template #body="{data}">
                            {{data.permission}}
                        </template>                    
                    </Column>                               
                </DataTable>
                <DataTable :value="permisosPorAsignar" :paginator="true" class="p-datatable-sm gap-4" :rows="10"
                dataKey="id" :rowHover="true" v-model:selection="selectedCustomers" v-model:filters="filters" filterDisplay="menu" :loading="loading"
                paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown" :rowsPerPageOptions="[10,25,50]"
                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} Registros"
                :globalFilterFields="['permission','methods','urls']" responsiveLayout="scroll">
                    <!--Buscador-->
                    <template #header>
                        <div class="p-d-flex p-jc-between p-ai-center" align="right">                        
                            <span class="p-input-icon-left">
                                <i class="pi pi-search" />
                                <InputText v-model="filters['global'].value" placeholder="Buscar" />
                            </span>
                        </div>
                    </template>
                    <!----------->
                    <template #empty>
                    No se encontraron resultados.
                    </template>
                    <template #loading>
                        Cargando informacion. Espere por favor.
                    </template>
                     <Column  header="Acciones" headerStyle="text-align: center" bodyStyle="text-align: center; overflow: visible">
                        <template #body="{data}">                            
                            <Button type="button" icon="pi pi-plus text-blue-500" class="p-button-rounded p-button-icon-only p-button-text p-button-lg" @click="agregarPermiso(data)" title="Agregar"></Button>
                        </template>
                    </Column>
                    <Column field="permission" header="Permisos" headerStyle="text-align: center" bodyStyle="text-align: center">
                        <template #body="{data}">
                            {{data.permission}}
                        </template>                    
                    </Column>            
                    <Column field="urls" header="Urls" headerStyle="text-align: center" bodyStyle="text-align: center">
                        <template #body="{data}">
                            <ul>
                                <li v-for="urls of data.urls" :key="urls.index">
                                    {{urls}}
                                </li>
                            </ul>  
                        </template>                    
                    </Column>            
                    <Column field="methods" header="Metodos" headerStyle="text-align: center" bodyStyle="text-align: center">
                        <template #body="{data}">
                            <ul>
                                <li v-for="method of data.methods" :key="method.index">
                                    {{method}}
                                </li>
                            </ul> 
                        </template>                    
                    </Column>                               
                </DataTable>
        </div>
    </app-layout>
</template>

<script>
import {FilterMatchMode,FilterOperator} from 'primevue/api';
import AppLayout from "@/Layouts/AppLayout";
import DataTable from "primevue/datatable";
import Column from "primevue/column";
import ColumnGroup from "primevue/columngroup"; 
import InputText from "primevue/InputText"; 
import Button from 'primevue/button';
import ToggleButton from 'primevue/togglebutton';

export default {
    data() {
        return {
            customers: null,
            selectedCustomers: null,
            filters: {
                'global': {value: null, matchMode: FilterMatchMode.CONTAINS},                                
            },
            filtersUsu: {
                'global': {value: null, matchMode: FilterMatchMode.CONTAINS},                                
            },              
            role: this.$attrs.rolAsig,    
            permisosAsignados: [],
            permisosPorAsignar: [],  
            loading: true, 
            opc:1,
        }
    },
    components:{
        AppLayout, DataTable, Column, ColumnGroup, InputText, Button, ToggleButton
    },
    mounted() {
        let token = `Bearer ${localStorage.Authorization}`;
        token = token.replace(/['"]+/g, '');
        axios.defaults.headers.common['Authorization'] = token;
        this.role = this.$attrs.rolAsig
        this.getPermisosAsignados();
    },
    methods: {            
        //Accion para dirigirnos a la vista AsignarUsuariosRol
        routerRoles(){
             this.$inertia.get(route('roles.index'));
        },       
        //Peticion para obtener los permisos asignados al rol
        getPermisosAsignados() {
            this.loading = true;
            axios
                .post('obtenerPermisosAsignadoRol',this.role)
                .then(res => {
                    this.permisosAsignados = res.data.permissions;
                    let dat = Object.values(res.data.routes);
                    let permisosPorAsignar = [];
                    
                    for (let data of dat) {
                         let methods = data['methods'].split("-");
                        console.log(methods);
                       permisosPorAsignar.push({'methods': data['methods'].split("-"),'permission': data['permission'], 'urls': data['urls'].split('-')})
                    }
                    this.permisosPorAsignar = permisosPorAsignar;
                    this.loading = false;
                })
                .catch(error => {
                    console.log(error);
                    this.$swal({
                        icon: "error",
                        title: "Error",
                        text: error.response.data.message,
                    });
                    this.loading = false;
                });
        },
        //Peticion para remover el permiso del rol
        removerPermiso(item) {
            this.$swal({
                title: "Estas seguro?",
                text: "¡No podrás revertir esto!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                cancelButtonText: "No, Cancelar",
                confirmButtonText: "Si, Remover"
            }).then(result => {
                if (result.isConfirmed) {
                    const params = {
                        permission: item.permission,
                        stage: "permissions",                        
                        role: this.role
                    };
                    axios
                        .post(`agregarPermisoRol`, params)
                        .then(res => {                            
                            const index = this.permisosAsignados.findIndex(
                                usuBuscar => usuBuscar.permission == item.permission
                            );
                            this.permisosAsignados.splice(index, 1);
                            this.$swal({
                                icon: "success",
                                title: res.data.message,
                            }); 
                        })
                        .catch(error => {
                            console.log(error);
                            this.$swal({
                                icon: "error",
                                title: "Error",
                                text: error.response.data.message,
                            });
                        });
                }
            });
        },
        //Peticion para agregar el permiso al rol
        agregarPermiso(item) {
            this.$swal({
                title: "Estas seguro?",
                text: "¡No podrás revertir esto!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                cancelButtonText: "No, Cancelar",
                confirmButtonText: "Si, Agregar"
            }).then(result => {
                if (result.isConfirmed) {
                    const params = {
                        permission: item.permission,
                        stage: "routes",
                        role: this.role
                    };
                    axios
                        .post(`agregarPermisoRol`, params)
                        .then(res => {
                            this.permisosAsignados.push(item);                                                    
                            this.$swal({
                                icon: "success",
                                title: res.data.message,
                            });  
                        })
                        .catch(error => {
                            console.log(error);
                            this.$swal({
                                icon: "error",
                                title: "Error",
                                text: error.response.data.message,
                            });
                        });
                }
            });
        }
    }
}
</script>
