<template>
    <div>
        <Dialog
            v-model:visible="display"
            :closable="closable"
            :style="{ width: '30vw' }"
            modal="true"
        >
            <!--Formulacion Crear roles-->
            <form @submit.prevent="crearRole" class="px-6" v-if="accionEditar == false">
                <div class="mb-4">
                    <jet-label
                        for="role"
                        value="Role"
                        class="block text-gray-700 text-sm font-bold mb-2"
                    />
                    <jet-input
                        id="role"
                        type="text"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        v-model="role.role"
                        required
                        autofocus
                        autocomplete="role"
                    />
                </div>
            </form>
            <!--Formulacion Editar roles-->
            <form @submit.prevent="editarRole" class="px-6" v-else>
                <div class="mb-4">
                    <jet-label
                        for="role"
                        value="Role"
                        class="block text-gray-700 text-sm font-bold mb-2"
                    />
                    <jet-input
                        id="role"
                        type="text"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        v-model="roleEdi.role"
                        required
                        autofocus
                        autocomplete="role"
                    />
                </div>
            </form>
            <template #header>
                <p
                    class="text-blue-400 font-bold text-2xl"
                    v-if="accionEditar == false"
                >
                    Formulario Creacion Roles
                </p>
                <p class="text-blue-400 font-bold text-2xl" v-else>
                    Formulario Editar Roles
                </p>
            </template>
            <template #footer>
                <Button
                    label="Crear"
                    class="p-button-raised p-button-rounded"
                    @click="crearRole"
                    v-if="accionEditar == false"
                ></Button>
                <Button
                    label="Editar"
                    class="p-button-raised p-button-rounded"
                    @click="editarRole"
                    v-else
                ></Button>
                <Button
                    label="Cerrar"
                    class="p-button-raised p-button-rounded p-button-danger"
                    @click="accionModal"
                ></Button>
            </template>
        </Dialog>
    </div>
</template>
<script>
import Dialog from "primevue/dialog";
import Button from "primevue/button";
import Dropdown from "primevue/dropdown";
import JetAuthenticationCard from "@/Jetstream/AuthenticationCard";
import JetAuthenticationCardLogo from "@/Jetstream/AuthenticationCardLogo";
import JetButton from "@/Jetstream/Button";
import JetInput from "@/Jetstream/Input";
import JetCheckbox from "@/Jetstream/Checkbox";
import JetLabel from "@/Jetstream/Label";
import JetValidationErrors from "@/Jetstream/ValidationErrors";

export default {
    data() {
        return {
            closable: false,
            role: {
                role: ""
            },                        
        };
    },
    props: {
        display: false,
        accionEditar: false,
        roles: [],
        roleEdi: {
            role: ""
        }
    },
    components: {
        Dialog,
        Button,
        Dropdown,
        JetAuthenticationCard,
        JetAuthenticationCardLogo,
        JetButton,
        JetInput,
        JetCheckbox,
        JetLabel,
        JetValidationErrors,
    },
    mounted() {    
        let token = `Bearer ${localStorage.Authorization}`;
        token = token.replace(/['"]+/g, '');
        axios.defaults.headers.common['Authorization'] = token;                    
    },
    methods: {
        //Accion para abrir o cerrar modal formularios roles
        accionModal() {
            this.$emit("accionModal");
        },
        //Accion para registrar el rol en el sistema
        crearRole() {
            const params = {
                role: this.role.role,              
            };
            axios
                .post("crearRole", params)
                .then((res) => {
                    this.$swal({
                        icon: "success",
                        title: res.data.message,
                    });                
                    this.roles.push(res.data.data);   
                    this.role.role = "";                 
                })
                .catch((error) => {
                    this.$swal({
                        icon: "error",
                        title: "Error",
                        text: error.response.data.message,
                    });
                });
        },
        //Accion para editar los roles en el sistema
        editarRole() {
            const params = {
                id: this.roleEdi.id,
                role: this.roleEdi.role,               
            };
            axios
                .post("editarRole", params)
                .then((res) => {                                                  
                    const index = this.roles.findIndex(
                        roleBuscar => roleBuscar.id == res.data.data.id
                    );
                    this.roles[index] = res.data.data   
                    this.$swal({
                        icon: "success",
                        title: res.data.message,
                    });              
                })
                .catch((error) => {                    
                    this.$swal({
                        icon: "error",
                        title: "Error",
                        text: error.response.data.message,
                    });
                });
        },
    },
};
</script>
