<template>
    <app-layout>
        <template #header>
            <Button label="Nuevo Rol" icon="pi pi-plus" iconPos="right" class="p-button-raised p-button-rounded" v-model="displayModalRoles" @click="displayModalRoles=true"></Button>
        </template>
        <FormularioRoles :display="displayModalRoles" @accionModal="accionModal" :roles="roles"  :roleEdi="role" :accionEditar="accionEditar"/>
        <div class="text-center p-2 m-2 font-serif text-lg font-bold text-gray-400 bg-gray-50">
            <h1>ROLES</h1>
        </div>
        <div>
            <DataTable :value="roles" :paginator="true" class="p-datatable-customers" :rows="10"
                dataKey="id" :rowHover="true" v-model:selection="selectedCustomers" v-model:filters="filters" filterDisplay="menu" :loading="loading"
                paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown" :rowsPerPageOptions="[10,25,50]"
                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} Registros"
                :globalFilterFields="['role']" responsiveLayout="scroll">
                <!--Buscador-->
                <template #header>
                    <div class="p-d-flex p-jc-between p-ai-center" align="right">                        
                        <span class="p-input-icon-left">
                            <i class="pi pi-search" />
                            <InputText v-model="filters['global'].value" placeholder="Buscar" />
                        </span>
                    </div>
                </template>
                <!----------->
                <template #empty>
                   No se encontraron resultados.
                </template>
                <template #loading>
                    Cargando informacion. Espere por favor.
                </template>
                <Column field="role" header="Roles" headerStyle="text-align: center" bodyStyle="text-align: center">
                    <template #body="{data}">
                        {{data.role}}
                    </template>                    
                </Column>            
                <Column  header="Acciones" headerStyle="text-align: center" bodyStyle="text-align: center; overflow: visible">
                    <template #body="{data}">
                        <Button type="button" icon="pi pi-pencil" class="p-button-rounded p-button-icon-only p-button-text p-button-lg" @click="editarRoles(data)" title="Editar"></Button>
                        <Button type="button" icon="pi pi-unlock" class="p-button-rounded p-button-icon-only p-button-text p-button-lg" title="Asignar Permisos" @click="routerAsignarPermisosRol(data)"></Button>
                        <Button type="button" icon="pi pi-user-plus" class="p-button-rounded p-button-icon-only p-button-text p-button-lg" title="Asignar Usuarios" @click="routerAsignarUsuariosRol(data)"></Button>
                        <Button type="button" icon="pi pi-trash text-red-500" class="p-button-rounded p-button-icon-only p-button-text p-button-lg" @click="eliminarRole(data)" title="Eliminar"></Button>
                    </template>
                </Column>
            </DataTable>
        </div>
    </app-layout>
</template>

<script>
import {FilterMatchMode,FilterOperator} from 'primevue/api';
import AppLayout from "@/Layouts/AppLayout";
import DataTable from "primevue/datatable";
import Column from "primevue/column";
import ColumnGroup from "primevue/columngroup"; 
import InputText from "primevue/InputText"; 
import Button from 'primevue/button';
import FormularioRoles from '@/Pages/Administracion/Roles/FormularioRolesComponent'

export default {
    data() {
        return {
            customers: null,
            selectedCustomers: null,
            filters: {
                'global': {value: null, matchMode: FilterMatchMode.CONTAINS},                                
            },           
            roles: [],      
            role: [],      
            loading: true, 
            displayModalRoles: false,
            accionEditar: false  
        }
    },
    components:{
        AppLayout, DataTable, Column, ColumnGroup, InputText, Button, FormularioRoles
    },
    mounted() {
        let token = `Bearer ${localStorage.Authorization}`;
        token = token.replace(/['"]+/g, '');
        axios.defaults.headers.common['Authorization'] = token;
        this.getRoles();
    },
    methods: {            
        //Peticion para obtener los roles registrados
        getRoles() {
            this.loading = true;  
            axios
                .post("getRoles")
                .then(res => {
                    this.roles = res.data;
                    this.loading = false; 
                })
                .catch(error => {
                    console.log(error);
                    this.$swal({
                        icon: "error",
                        title: "Error",
                        text: error.response.data.message,
                    });
                    this.loading = false;
                });
        },
        editarRoles(item) {            
            this.displayModalRoles = true;
            this.accionEditar = true;
            const param = {
                id: item.id,
                role: item.role,
            };
            this.role = param;
        },
        //Accion para eliminar el rol
        eliminarRole(item) {
            console.log(item)
            this.$swal({
                title: "Estas seguro?",
                text: "¡No podrás revertir esto!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                cancelButtonText: "No, Cancelar",
                confirmButtonText: "Si, Borrar"
            }).then(result => {
                if (result.isConfirmed) {
                    axios
                        .post(`eliminarRole`, item)
                        .then(res => {
                            const index = this.roles.findIndex(
                                roleBuscar =>
                                    roleBuscar.id == res.data.data.id
                            );
                            this.roles.splice(index, 1);
                            this.$swal(
                                "Eliminado",
                                "Se elimino el registro.",
                                "success"
                            );
                        })
                        .catch(error => {
                            this.$swal({
                                icon: "error",
                                title: "Error",
                                text: error.response.data.message
                            });
                        });
                }
            });
        },
        //Accion para cerrar la modal formularios roles
        accionModal(){
            this.displayModalRoles = false;
            this.accionEditar = false;
        },
        //Accion para dirigirnos a la vista AsignarUsuariosRol
        routerAsignarUsuariosRol(item){
             this.$inertia.post('asignarRolUsuarios',item);
        },
        //Accion para dirigirnos a la vista routerAsignarPermisosRol
        routerAsignarPermisosRol(item){
             this.$inertia.post('asignarPermisosRol',item);
        }
    }
}
</script>
