<template>
    <jet-authentication-card>
        <template #logo>
            <jet-authentication-card-logo />            
        </template>
        
        <jet-validation-errors class="mb-4" />
        
        <div v-if="status" class="mb-4 font-medium text-sm text-green-600">
            {{ status }}
        </div>        
        <div class="relative py-3 sm:max-w-xl sm:mx-auto">
            <div class="h-2 bg-blue-400 rounded-t-md"></div>
            <div class="px-8 py-6">
                <form @submit.prevent="submit">           
                    <div>
                        <jet-label for="email" value="Email" />
                        <jet-input id="email" type="email" class="mt-1 block w-full" v-model="form.email" required autofocus />
                    </div>

                    <div class="mt-4">
                        <jet-label for="password" value="Password" />
                        <jet-input id="password" type="password" class="mt-1 block w-full" v-model="form.password" required autocomplete="current-password" />
                    </div>                   
                    <div class="flex items-center justify-between mt-4">
                        <span class="ml-2 text-sm text-gray-600 mt-2">
                            <jet-checkbox name="remember" v-model:checked="form.remember" />
                            Recordarme
                        </span>
                        <jet-button class="ml-4 bg-blue-400" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                            Acceder
                        </jet-button>
                    </div>
                    <div class="block mt-4">
                        <label class="flex items-center">                            
                            <span class="ml-2 text-sm text-gray-600"> 
                                <inertia-link v-if="canResetPassword" :href="route('password.request')" class="underline text-sm text-gray-600 hover:text-gray-900">
                            Olvidé mi contraseña
                                </inertia-link>
                            </span>                           
                        </label>
                    </div>
                </form>
            </div>
        </div>        
    </jet-authentication-card>
</template>

<script>
    import JetAuthenticationCard from '@/Jetstream/AuthenticationCard'
    import JetAuthenticationCardLogo from '@/Jetstream/AuthenticationCardLogo'
    import JetButton from '@/Jetstream/Button'
    import JetInput from '@/Jetstream/Input'
    import JetCheckbox from '@/Jetstream/Checkbox'
    import JetLabel from '@/Jetstream/Label'
    import JetValidationErrors from '@/Jetstream/ValidationErrors'

    export default {
        components: {
            JetAuthenticationCard,
            JetAuthenticationCardLogo,
            JetButton,
            JetInput,
            JetCheckbox,
            JetLabel,
            JetValidationErrors
        },

        props: {
            canResetPassword: Boolean,
            status: String
        },

        data() {
            return {
                form: this.$inertia.form({
                    email: '',
                    password: '',
                    remember: false,
                    token: null
                })
            }
        },

        methods: {
            submit() {
                this.form
                    .transform(data => ({
                        ... data,
                        remember: this.form.remember ? 'on' : ''
                    }))
                    .post(this.route('login'), {
                        onFinish: () => this.form.reset('password'),
                    })
            }
        }
    }
</script>
